################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Test.VC.VC.opendb
/Test.VC.db
*.vs
*.pdb
*.log
*.tlog
*.idb
x64/*